<li class="timeline-item">
  <span class="timeline-node">
    <%= display_xsmall_avatar(event.user) %>
  </span>
  <div class="toolbar-compact">
    <time class="timeline-meta-muted"><%= display_created_at_with_time(event) %></time>
    <div class="body-muted"><a href="<%= member_timeline_path(event.user) %>" class="link-strong-underline"><%= event.user.name %></a> added a new note for <a href="<%= candidate_notes_path(event.eventable) %>" class="link-strong-underline"><%= event.eventable.name %></a>
      <% if event.trackable.nil? %>
        which does not exist anymore.
      <% end %>
    </div>
  </div>

  </li>
