<tr class="group border-b border-gray-200 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
  <th scope="row" class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <div class="flex items-center hover:underline">
      <a href="<%= candidate_timeline_path(candidate) %>">
        <%= candidate.name %>
      </a>
      <button class="font-medium ml-2 invisible group-hover:visible text-primary-600 dark:text-primary-500 inline-flex items-center">
        <%= svg_icon("candidate-eye", class_name: "w-4 h-4 text-gray-800 dark:text-white") %>
      </button>
    </div>
  </th>
  <td class="px-4 py-2">
    <%= candidate.opening.nil? ? "-" : candidate.opening.title %>
  </td>
  <td class="px-4 py-2"><%= candidate.user.name %></td>
  <td class="px-4 py-2"><%= candidate.owner.name %></td>
  <td class="px-4 py-2"><%= display_date(candidate.updated_at) %></td>
  <td class="px-4 py-2">
    <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2 py-0.5 rounded-sm dark:bg-primary-200 dark:text-primary-800">
      <%= candidate.bucket.titleize %>
    </span>
  </td>
  <td class="px-4 py-2">
    <span class="bg-<%= status_color(candidate.status) %>-100 text-<%= status_color(candidate.status) %>-800 text-xs font-medium inline-flex items-center px-2 py-0.5 rounded-sm"><%= candidate.status.humanize.titleize %></span>
  </td>
</tr>
