
<div class="stack-fill">
  
  <div class="content-shell">
    
    <div class="sidebar-shell"><%= render partial: "opening/profile", locals: { opening: @opening } %></div>

    <div class="flex-1">
      
      <%= render partial: "opening/nav", locals: { opening: @opening } %>

      <div class="p-6 text-sm"></div>
    </div>

    <div class="sidebar-panel">
      
      <div>
        <h5 class="panel-title">Create Interview Panel</h5>
        <p class="text-muted-sm-spaced">Following list shows all the interviewers in the team. Select interviewers who will be conducting the interviews for this opening and create an interview panel.</p>

        <div data-controller="opening">
          <% @interviewer_options.each do |interviewer| %>
            <div class="flex items-center mb-2">
              <input
                type="checkbox"
                name="interviewers[]"
                value="<%= interviewer.id %>"
                id="interviewer_<%= interviewer.id %>"
                data-action="opening#toggleInterviewer"
                data-user-id="<%= interviewer.id %>"
                data-opening-id="<%= @opening.id %>"
                class="mr-2 checkbox"
                <%= @opening.interviewers.exists?(interviewer.id) ? 'checked' : '' %>
              >

              <label for="interviewer_<%= interviewer.id %>" class="text-gray-600 font-medium text-sm dark:text-gray-200"><%= interviewer.name %></label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
