<section class="page-surface">
  <div class="page-form-container">
    <%= render "shared/form_messages", resource: @form, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Add New Job Opening", subtitle: "Please fill in details of new Job Opening." %>

    <%= tailwind_form_with(model: @opening, id: dom_id(@opening), url: openings_path, method: "POST") do |form| %>
      <div class="grid-block-spaced">
        <div><%= form.text_field :title, "Opening Name", required: true, placeholder: "eg. Android Developer" %></div>
      </div>

      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6 pt-4">
        <div>
          <label for="opening_role_id" class="form-field-label-inline">
            Primary skill
            <button
              type="button"
              data-tooltip-target="tooltip-user-skill"
              data-tooltip-style="dark"
              class="ml-1"
            >
              <%= svg_icon("info-circle", class_name: "w-4 h-4 text-gray-400 hover:text-gray-900 dark:hover:text-white dark:text-gray-500") %>

              <span class="sr-only">Show information</span>
            </button>
            <%= tooltip_component(id: "tooltip-user-skill", text: "Select what is primary skill of this job opening.", class_name: "max-w-sm font-normal") %>
          </label>

          <%= form.collection_select(:role_id, @roles, :id, :title, { :prompt => "Select Primary Skill" }, :class => "form-text-field", :required => true) %>
        </div>

        <div><label for="opening_active" class="form-field-label-inline">Select if Active</label><%= form.select(:active, [["Active", true], ["Inactive", false]], {}, :class => "form-text-field") %></div>

        <div><label for="opening_priority" class="form-field-label-inline">Priority</label><%= select_tag :priority, options_for_select(Opening.priorities.map { |k, v| [k.humanize.capitalize, k] }), class: "form-text-field", :name => "opening[priority]", id: "opening_priority" %></div>

        <div><label for="opening_owner_id" class="form-field-label-inline">Owner</label><%= form.collection_select(:owner_id, User.recruiters, :id, :name, { :prompt => "Select Owner" }, :class => "form-text-field", :required => true) %></div>
      </div>

      <button type="submit" class="btn-primary mt-4">
        Add Job Opening
      </button>

      <%= link_to "Cancel", :back, class: "btn-secondary" %>
    <% end %>
  </div>
</section>
