

<div class="stack-fill">
  
  <div class="content-shell">
    
    <div class="sidebar-shell"><%= render partial: "candidate/profile", locals: { candidate: @candidate } %></div>

    <div class="flex-1">
      
      <%= render partial: "candidate/nav", locals: { candidate: @candidate } %>

      <div class="table-wrap">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="table-head-muted">
            <tr>
              <th scope="col" class="px-4 py-2">
                Checklist
              </th>

              <th scope="col" class="px-4 py-2">
                Added by
              </th>

              <th scope="col" class="px-4 py-2">
                Added On
              </th>

              <th scope="col" class="px-4 py-2">
                Status
              </th>

              <th scope="col" class="px-4 py-2">
                Action
              </th>
            </tr>
          </thead>

          <tbody></tbody>
        </table>
      </div>
    </div>

    <div class="shrink-0 border-t border-gray-200 px-4 py-4 sm:px-6 lg:w-80 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
      
      <% opening = @candidate.opening %>

      <% unless opening.nil? %>
        <div>
          <h5 class="panel-title">Complete A Survey</h5>

          <p class="text-muted-sm-spaced">Select which survey you want to fill for the candidate.</p>

          <div class="flex flex-col">
            <% unless opening.resume_screening_checklist.blank? %>
              <%= link_to "Resume Screening Checklist", "#{opening.resume_screening_checklist}?name=#{@candidate.name}&email=#{@candidate.email}", target: "_blank", class: "link" %>
            <% end %>

            <% unless opening.telephonic_screening_checklist.blank? %>
              <%= link_to "Telephonic Screening Checklist", "#{opening.telephonic_screening_checklist}?name=#{@candidate.name}&email=#{@candidate.email}", target: "_blank", class: "link" %>
            <% end %>

            <% unless opening.first_round_score.blank? %>
              <%= link_to "First Round Score", "#{opening.first_round_score}?name=#{@candidate.name}&email=#{@candidate.email}", target: "_blank", class: "link" %>
            <% end %>

            <% unless opening.second_round_score.blank? %>
              <%= link_to "Second Round Score", "#{opening.second_round_score}?name=#{@candidate.name}&email=#{@candidate.email}", target: "_blank", class: "link" %>
            <% end %>

            <% unless opening.hr_round_score.blank? %>
              <%= link_to "HR Round Score", "#{opening.hr_round_score}?name=#{@candidate.name}&email=#{@candidate.email}", target: "_blank", class: "link" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
