<aside class="px-2 py-6 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
  <nav class="space-y-1" id="menu">
    <a href="<%= account_account_path %>" class="<%= current_page?(account_account_path) ? "nav-pill-selected" : "nav-pill-unselected" %>"><%= svg_icon("building-outline", class_name: "svg-icon") %><span class="truncate">Company Profile</span></a>
    <a href="<%= account_roles_path %>" class="<%= current_page?(account_roles_path) ? "nav-pill-selected" : "nav-pill-unselected" %>"><%= svg_icon("user-circle-outline", class_name: "svg-icon") %><span class="truncate">Candidate Roles</span></a>
    <a href="<%= account_sources_path %>" class="<%= current_page?(account_sources_path) ? "nav-pill-selected" : "nav-pill-unselected" %>"><%= svg_icon("building-outline", class_name: "svg-icon") %><span class="truncate">Candidate Sources</span></a>
  </nav>
</aside>
