<tr class="group hover-list-row">
  <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <div class="inline-link-row">
      <a href="<%= candidate_timeline_path(candidate) %>"><%= candidate.name %></a>

      <button class="hover-reveal-link">
        <%= svg_icon("candidate-eye", class_name: "w-4 h-4 text-gray-800 dark:text-white") %>
      </button>
    </div>
  </th>

  <td class="px-4 py-2">
    <%= candidate.email %>
  </td>

  <td class="px-4 py-2">
    <%= candidate.role.nil? ? "-" : candidate.role.title %>
  </td>

  <td class="px-4 py-2">
    <%= candidate.opening.nil? ? "-" : candidate.opening.title %>
  </td>

  <td class="px-4 py-2"><%= candidate.user.name %></td>
  <td class="px-4 py-2"><%= display_created_at(candidate) %></td>
</tr>
