<tr class="group hover-list-row">
  <th scope="row" class="table-cell-strong">
    <div class="inline-link-row">
      <a href="<%= candidate_timeline_path(candidate) %>"><%= candidate.name %></a>

      <button class="hover-reveal-link">
        <%= svg_icon("candidate-eye", class_name: "w-4 h-4 text-gray-800 dark:text-white") %>
      </button>
    </div>
  </th>

  <td class="px-4 py-2">
    <%= candidate.phone %>
  </td>

  <td class="px-4 py-2">
    <%= candidate.role.nil? ? "-" : candidate.role.title %>
  </td>

  <td class="px-4 py-2">
    <% if candidate.opening.active? %>
      <div class="flex items-center">
        <div class="badge-dot-success"></div>
        <span class="text-xs font-medium me-2 px-1.5 py-0.5 rounded-sm border bg-<%= priority_color(candidate.opening.priority) %>-100 text-<%= priority_color(candidate.opening.priority) %>-800 border-<%= priority_color(candidate.opening.priority) %>-400"><%= candidate.opening.priority.titleize %></span>
        <%= candidate.opening.nil? ? "-" : candidate.opening.title %>
      </div>
    <% else %>
      <div class="flex items-center">
        <div class="badge-dot-danger"></div>
        <span class="text-xs font-medium me-2 px-1.5 py-0.5 rounded-sm border bg-<%= priority_color(candidate.opening.priority) %>-100 text-<%= priority_color(candidate.opening.priority) %>-800 border-<%= priority_color(candidate.opening.priority) %>-400"><%= candidate.opening.priority.titleize %></span>
        <%= candidate.opening.nil? ? "-" : candidate.opening.title %>
      </div>
    <% end %>
  </td>

  <td class="px-4 py-2"><%= candidate.user.name %></td>
  <td class="px-4 py-2"><%= display_created_at(candidate) %></td>
</tr>
