<nav id="toggleMobileMenu" class="hidden bg-gray-50 border-b border-gray-200 shadow-xs dark:bg-gray-900 lg:block dark:border-gray-800">
  <div class="px-0 lg:px-6">
    <div class="flex items-center">
      <ul class="flex flex-col mt-0 w-full text-sm font-medium lg:flex-row">
        <li class="nav-tab-item">
          <a href="<%= candidate_timeline_path(@candidate) %>" class="<%= current_page?(candidate_timeline_path(@candidate)) ? "nav-tab-selected" : "nav-tab-unselected" %>">Timeline</a>
        </li>
        <li class="nav-tab-item">
          <a href="<%= candidate_interviews_path(@candidate) %>" class="<%= current_page?(candidate_interviews_path(@candidate)) ? "nav-tab-selected" : "nav-tab-unselected" %>">Interviews</a>
        </li>
        <li class="nav-tab-item">
          <a href="<%= candidate_checklists_path(@candidate) %>" class="<%= current_page?(candidate_checklists_path(@candidate)) ? "nav-tab-selected" : "nav-tab-unselected" %>">Checklists</a>
        </li>
        <li class="nav-tab-item">
          <a href="<%= candidate_notes_path(@candidate) %>" class="<%= current_page?(candidate_notes_path(@candidate)) ? "nav-tab-selected" : "nav-tab-unselected" %>">Notes</a>
        </li>
        <li class="nav-tab-item">
          <a href="<%= candidate_emails_path(@candidate) %>" class="<%= current_page?(candidate_emails_path(@candidate)) ? "nav-tab-selected" : "nav-tab-unselected" %>">Emails</a>
        </li>
        <li class="nav-tab-item">
          <a href="<%= candidate_reviews_path(@candidate) %>" class="<%= current_page?(candidate_reviews_path(@candidate)) ? "nav-tab-selected" : "nav-tab-unselected" %>">Reviews</a>
        </li>
        <li class="nav-tab-item-inline">
          <a href="<%= candidate_campaigns_path(@candidate) %>" class="<%= current_page?(candidate_campaigns_path(@candidate)) ? "nav-tab-selected" : "nav-tab-unselected" %>">Sprints</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
