<div data-controller="candidate" id="owner_<%= dom_id(candidate) %>">
  <div class="flex items-center">
    <%= svg_icon("user-round", class_name: "w-4 h-4 mr-2 text-gray-800 dark:text-white") %>

    <p class="meta-text">Owner: <%= candidate.owner.name %></p>

    <% if policy(candidate).update_owner? %>
      <div
        id="editButton"
        data-tooltip-target="tooltip-owner"
        data-dropdown-toggle="ownerButton"
        class="cursor-pointer ml-1 text-gray-500 rounded-xs hover:text-gray-900 dark:text-gray-400 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <%= svg_icon("edit-pencil", class_name: "w-4 h-4 text-gray-800 dark:text-white") %>
      </div>
      <%= tooltip_component(id: "tooltip-owner", text: "Edit Owner") %>
      <!-- Dropdown menu -->
      <div id="ownerButton" data-candidate-target="menu" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-sm shadow-sm w-40 border border-gray-200 dark:bg-gray-700 dark:divide-gray-600">
        <ul class="p-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="editButton">
          <% User.owners.each do |user| %>
            <li
              class="cursor-pointer"
              data-action="click->candidate#update_owner"
              data-candidate-owner-param="<%= user.id %>"
              data-candidate-candidate-param="<%= candidate.id %>"
            >
              <div class="flex p-1 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                <div class="ms-2 text-xs">
                  <label class="cursor-pointer font-medium text-gray-900 dark:text-gray-300">
                    <div><%= user.name %></div>
                  </label>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
