<div class="border-b bg-gray-50 border-gray-200 py-4 lg:pl-8 w-full lg:shrink-0 lg:border-b-0 border-r xl:pl-6">
  
  
  <div id="readUserDrawerAdvanced" class="pr-4 bg-gray-50 dark:bg-gray-800">
    <div class="flex items-center mb-4 sm:mb-5">
      <div>
        <h4 id="drawer-label" class="flex items-center mb-1 text-lg font-semibold leading-none text-gray-900 dark:text-white">
          <%= candidate.name %>
          <a href="<%= edit_candidate_path(candidate) %>" data-tooltip-target="tooltip-edit" class="icon-button-muted"><%= svg_icon("profile-edit", class_name: "w-5 h-5") %><span class="sr-only">Edit Profile</span></a>

          <%= tooltip_component(id: "tooltip-edit", text: "Edit profile") %>
        </h4>

        <div class="meta-row">
          <%= svg_icon("email", class_name: "w-4 h-4 mr-2 text-gray-800 dark:text-white") %>

          <p class="meta-text"><%= candidate.email %></p>
        </div>

        <div class="meta-row">
          <%= svg_icon("phone", class_name: "w-4 h-4 mr-2 text-gray-800 dark:text-white") %>

          <p class="meta-text"><%= candidate.phone %></p>
        </div>

        <% unless candidate.location.nil? %>
          <div class="meta-row">
            <%= svg_icon("location-pin", class_name: "w-4 h-4 mr-2 text-gray-800 dark:text-white") %>

            <p class="meta-text"><%= candidate.location %></p>
          </div>
        <% end %>

        <% unless candidate.birth_year.nil? %>
          <div class="meta-row">
            <%= svg_icon("age-clock", class_name: "w-4 h-4 mr-2 text-gray-800 dark:text-white") %>

            <p class="meta-text"><%= candidate.age %></p>
          </div>
        <% end %>
      </div>
    </div>

    <dl>
      <% unless candidate.biography.blank? %>
        <dt class="mb-2 text-sm font-medium leading-none text-gray-900 dark:text-white">Biography</dt>
        <dd class="mb-4 font-light text-gray-900 text-sm sm:mb-5 dark:text-gray-400">
          <div data-controller="read-more" data-read-more-more-text-value="Read more ↓" data-read-more-less-text-value="Read less ↑">
            <p class="line-clamp" data-read-more-target="content">
              <%= candidate.biography %>
            </p>

            <button data-action="read-more#toggle" class="text-blue-600">Read more ↓</button>
          </div>
        </dd>
      <% end %>

      <%= render partial: "candidate/profession", locals: { candidate: candidate } %>
      <%= render partial: "candidate/social", locals: { candidate: candidate } %>
      <%= render partial: "candidate/bucket", locals: { candidate: candidate } %>

      <% unless candidate.opening.blank? %>
        <dt class="mb-2 mt-5 heading-sm-strong">Associated with Job Opening</dt>
        <dd class="mb-4 sm:mb-5">
          <span class="badge-primary-soft"><%= candidate.opening.title %></span>
        </dd>
      <% end %>

      <% unless candidate.role.blank? %>
        <dt class="mb-2 mt-5 heading-sm-strong">Primary Skill</dt>
        <dd class="mb-4 sm:mb-5">
          <span class="badge-primary-soft"><%= candidate.role.title %></span>
        </dd>
      <% end %>

      <%= render partial: "candidate/other", locals: { candidate: candidate } %>
    </dl>
  </div>
</div>
