<%= turbo_frame_tag dom_id(candidate, :recycle_date) do %>
  <% if candidate.icebox? or candidate.champions? or candidate.alumni? %>
    <div>
      <div class="flex items-center">
        <dt class="font-semibold text-sm leading-none text-gray-900 dark:text-white">Change Recycle Date</dt>
        <% if policy(candidate).update_recycle? %>
          <div id="changeStatusButton" data-tooltip-target="tooltip-joining" class="cursor-pointer p-1 ml-1 text-gray-500 rounded-xs hover:text-gray-900 dark:text-gray-400 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <a href="<%= candidate_edit_recycle_path(candidate) %>">
              <%= svg_icon("edit-pencil", class_name: "w-4 h-4 text-gray-800 dark:text-white") %>
            </a>
          </div>
          <%= tooltip_component(id: "tooltip-joining", text: "Edit Recycle Date") %>
        <% end %>
      </div>
      <dd class="mb-4 sm:mb-5"><span class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2 py-0.5 rounded-sm">Next Recycle On: <%= display_date(candidate.next_recycle_on) %></span></dd>
    </div>
  <% end %>
<% end %>
