<% show_social = candidate.linkedin.present? or candidate.twitter.present? or candidate.github.present? or candidate.portfolio.present? %>

<% if show_social %>
  <dt class="mb-2 font-semibold leading-none text-gray-900 text-sm dark:text-white">Social</dt>
  <dd class="inline-flex items-center mb-4 sm:mb-5">
    <% if candidate.github.present? %>
      <a
        href="<%= candidate.github %>"
        target="_blank"
        data-tooltip-target="tooltip-github"
        class="p-1 text-gray-500 rounded-xs hover:text-gray-900 dark:text-gray-400 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <%= svg_icon("github-logo", class_name: "w-5 h-5") %>
        <span class="sr-only">GitHub</span>
      </a>
      <%= tooltip_component(id: "tooltip-github", text: "GitHub profile") %>
    <% end %>

    <% if candidate.twitter.present? %>
      <a
        href="<%= candidate.twitter %>"
        target="_blank"
        data-tooltip-target="tooltip-twitter"
        class="p-1 text-gray-500 rounded-xs hover:text-gray-900 dark:text-gray-400 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <%= svg_icon("twitter-logo", class_name: "w-5 h-5") %>
        <span class="sr-only">Twitter</span>
      </a>
      <%= tooltip_component(id: "tooltip-twitter", text: "Twitter profile") %>
    <% end %>

    <% if candidate.portfolio.present? %>
      <a
        href="<%= candidate.portfolio %>"
        target="_blank"
        data-tooltip-target="tooltip-portfolio"
        class="p-1 text-gray-500 rounded-xs hover:text-gray-900 dark:text-gray-400 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <%= svg_icon("globe", class_name: "w-5 h-5") %>
        <span class="sr-only">Portfolio</span>
      </a>
      <%= tooltip_component(id: "tooltip-portfolio", text: "Portfolio or Website") %>
    <% end %>

    <% if candidate.linkedin.present? %>
      <a
        href="<%= absolute_url(candidate.linkedin) %>"
        target="_blank"
        data-tooltip-target="tooltip-linkedin"
        class="p-1 text-gray-500 rounded-xs hover:text-gray-900 dark:text-gray-400 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <%= svg_icon("linkedin-logo", class_name: "w-5 h-5") %>
        <span class="sr-only">Linkedin</span>
      </a>
      <%= tooltip_component(id: "tooltip-linkedin", text: "Linkedin profile") %>
    <% end %>

    <% if candidate.respond_to?(:booking_url) && candidate.booking_url.present? %>
      <a
        href="<%= absolute_url(candidate.booking_url) %>"
        target="_blank"
        data-tooltip-target="tooltip-booking"
        class="p-1 text-gray-500 rounded-xs hover:text-gray-900 dark:text-gray-400 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <%= svg_icon("calendar-plus", class_name: "w-5 h-5") %>

        <span class="sr-only">Meeting Booking URL</span>
      </a>
      <%= tooltip_component(id: "tooltip-booking", text: "Meeting Booking URL") %>
    <% end %>
  </dd>
<% end %>
