<li class="timeline-item">
  <span class="timeline-node"><%= display_xsmall_avatar(event.user) %></span>
  <div class="toolbar-compact">
    <time class="timeline-meta-muted"><%= display_created_at_with_time(event) %></time>
    <div class="body-muted">
      <a href="<%= member_timeline_path(event.user) %>" class="link-strong-underline"><%= event.user.name %></a>
      added a new note
      <% if event.trackable.nil? %>
        which does not exist anymore.
      <% end %>
    </div>
  </div>
  <% unless event.trackable.nil? %>
    <div class="p-2 text-xs italic font-normal text-gray-500 border border-gray-200 rounded-sm bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300">
      <p class="whitespace-pre-wrap"><%= auto_link_urls_in_text(event.trackable.body) %></p>
    </div>
  <% end %>
</li>
