<li class="timeline-item">
  <span class="timeline-node">
    <%= display_xsmall_avatar(event.user) %>
  </span>
  <div class="toolbar-compact">
    <time class="timeline-meta-muted"><%= display_created_at_with_time(event) %></time>
    <div class="body-muted"><a href="<%= member_timeline_path(event.user) %>" class="link-strong-underline"><%= event.user.name %></a> removed candidate from sprint <span class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2 py-0.5 rounded-sm dark:bg-primary-200 dark:text-primary-800"><%= event.trackable.name %></span></div>
  </div>
</li>
