<li class="timeline-item">
  <span class="timeline-node">
    <%= display_xsmall_avatar(event.user) %>
  </span>
  <div class="timeline-toolbar-compact">
    <time class="timeline-meta-muted"><%= display_created_at_with_time(event) %></time>
    <div class="body-muted"><a href="<%= member_timeline_path(event.user) %>" class="link-strong-underline"><%= event.user.name %></a> sent an 
      <% if event.trackable.nil? %>
        email
      <% else %>
        <span class="badge-warning-soft">
          <%= event.trackable.kind.humanize.titleize %>
        </span>
      <% end %>
      to candidate.
    </div>
  </div>
</li>
