<li class="timeline-item">
  <span class="timeline-node"><%= display_xsmall_avatar(event.user) %></span>
  <div class="toolbar-compact">
    <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"><%= display_created_at_with_time(event) %></time>
    <div class="body-muted">
      <a href="<%= member_timeline_path(event.user) %>" class="link-strong-underline"><%= event.user.name %></a>
      updated
      <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2 py-0.5 rounded-sm dark:bg-primary-200 dark:text-primary-800">next recycle date</span>
      to
      <%= display_date(event.eventable.next_recycle_on) %>
      .
    </div>
  </div>
</li>
