<div class="border-b bg-gray-50 border-gray-200 py-4 lg:pl-8 w-full lg:shrink-0 lg:border-b-0 border-r xl:pl-6">
  
  
  <div id="readUserDrawerAdvanced" class="pr-4 bg-gray-50 dark:bg-gray-800">
    <div class="flex items-center mb-4 sm:mb-5">
      <div>
        <h4 id="drawer-label" class="flex items-center mb-1 text-lg font-semibold leading-none text-gray-900 dark:text-white">
          <%= opening.title %>

          <% if policy(:opening).edit? %>
            <a href="<%= edit_opening_path(opening) %>" data-tooltip-target="tooltip-edit" class="icon-button-muted"><%= svg_icon("profile-edit", class_name: "w-5 h-5") %><span class="sr-only">Edit Opening</span></a>
            <%= tooltip_component(id: "tooltip-edit", text: "Edit Opening") %>
          <% end %>

          <a
            href="<%= show_public_openings_path(opening) %>"
            target="_blank"
            data-tooltip-target="tooltip-view"
            class="icon-button"
          >
            <%= svg_icon("opening-external", class_name: "w-5 h-5 text-gray-800 dark:text-white") %>
          </a>

          <%= tooltip_component(id: "tooltip-view", text: "View Opening") %>
        </h4>

        <% unless opening.location.nil? %>
          <div class="meta-row">
            <%= svg_icon("location-pin", class_name: "w-4 h-4 mr-2 text-gray-800 dark:text-white") %>

            <p class="meta-text"><%= opening.location %></p>
          </div>
        <% end %>
      </div>
    </div>

    <% unless opening.role.blank? %>
      <dt class="mb-2 mt-5 heading-sm-strong">Primary Skill</dt>
      <dd class="mb-4 sm:mb-5">
        <span class="badge-primary-soft"><%= opening.role.title %></span>
      </dd>
    <% end %>

    <div class="mb-24">
      <dt class="mb-2 font-semibold leading-none text-gray-900 text-sm dark:text-white">Other Details</dt>

      <dd class="meta-row">
        <%= svg_icon("user-round", class_name: "w-4 h-4 mr-2 text-gray-800 dark:text-white") %>
        <p class="meta-text">Owner: <%= opening.owner.name %></p>
      </dd>

      <dd class="meta-row">
        <%= svg_icon("clock", class_name: "w-4 h-4 mr-2 text-gray-800 dark:text-white") %>
        <p class="meta-text">Created On: <%= display_date(opening.created_at) %></p>
      </dd>

      <dd class="meta-row">
        <%= svg_icon("clock", class_name: "w-4 h-4 mr-2 text-gray-800 dark:text-white") %>
        <p class="meta-text">Updated On: <%= display_date(opening.updated_at) %></p>
      </dd>
    </div>
  </div>
</div>
