<div class="border-b border-gray-200">
  <dl class="grid grid-cols-1 overflow-hidden bg-white divide-y divide-gray-200 md:grid-cols-6 md:divide-y-0 md:divide-x">
    <div class="section-pad">
      <dt class="text-base font-normal text-center text-gray-900">
        Total
      </dt>
      <div class="metrics-row">
        <%= stats.total %>
      </div>
    </div>
    <div class="section-pad">
      <dt class="text-base font-normal text-center text-gray-900">
        Pipeline
      </dt>
      <div class="metrics-row">
        <%= stats.pipeline %>
      </div>
    </div>
    <div class="section-pad">
      <dt class="text-base font-normal text-center text-gray-900">
        First Round
      </dt>
      <div class="metrics-row">
        <%= stats.first_round %>
      </div>
    </div>
    <div class="section-pad">
      <dt class="text-base font-normal text-center text-gray-900">
        Second Round
      </dt>
      <div class="metrics-row">
        <%= stats.second_round %>
      </div>
    </div>
    <div class="section-pad">
      <dt class="text-base font-normal text-center text-gray-900">
        Offered
      </dt>
      <div class="metrics-row">
        <%= stats.offered %>
      </div>
    </div>
    <div class="section-pad">
      <dt class="text-base font-normal text-center text-gray-900">
        Joined
      </dt>
      <div class="metrics-row">
        <%= stats.joined %>
      </div>
    </div>
  </dl>
</div>
