<tr class="border-b border-gray-200 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
  <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <div class="flex items-center">
      <%= display_small_avatar(member) %>
      <a href="<%= member_timeline_path(member) %>" class="ml-2 hover:underline"><%= member.name %></a>
    </div>
  </th>

  <td class="px-4 py-2">
    <div class="inline-flex items-center bg-primary-100 text-primary-800 text-xs font-medium px-2 py-0.5 rounded-sm dark:bg-primary-900 dark:text-primary-300">
      <%= svg_icon("member-role-card", class_name: "h-3.5 w-3.5 mr-1") %>
      <%= member.role.titleize %>
    </div>
  </td>

  <td class="px-4 py-2">
    -
  </td>

  <td class="px-4 py-2">
    <%= member.email %>
  </td>

  <td class="px-4 py-2">
    -
  </td>

  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <% if member.active? %>
      <div class="flex items-center">
        <div class="w-3 h-3 mr-2 bg-green-500 border-green-500 rounded-full"></div>
        Active
      </div>
    <% else %>
      <div class="flex items-center">
        <div class="w-3 h-3 mr-2 bg-red-500 border-red-500 rounded-full"></div>
        Inactive
      </div>
    <% end %>
  </td>

  <td class="px-4 py-2">20 Nov 2022</td>
  <td class="px-4 py-2"><%= display_created_at(member) %></td>
</tr>
