<section class="page-surface">
  <div class="page-form-container">
    <%= render "shared/form_messages", resource: @form, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Add new team member", subtitle: "Please fill in details of new team member." %>

    <%= tailwind_form_with(model: @user, id: dom_id(@user), url: members_path, method: "POST") do |form| %>
      <div class="mt-4 grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div><%= form.text_field :first_name, "First Name", required: true %></div>

        <div><%= form.text_field :last_name, "Last Name", required: true %></div>

        <div><%= form.text_field :email, "Email", required: true %></div>

        <div>
          <label for="user_role" class="form-field-label-inline-spaced">
            User Role
            <button
              type="button"
              data-tooltip-target="tooltip-user-role"
              data-tooltip-style="dark"
              class="ml-1"
            >
              <%= svg_icon("info-circle", class_name: "w-4 h-4 text-gray-400 hover:text-gray-900 dark:hover:text-white dark:text-gray-500") %>

              <span class="sr-only">Show information</span>
            </button>
            <%= tooltip_component(id: "tooltip-user-role", text: "A team member can be either data collector, recruiter, interviewer, admin, recruiter admin or super admin.", class_name: "max-w-sm font-normal") %>
          </label>

          <%= select_tag :bucket, options_for_select(User.roles.map { |k, v| [k.humanize.capitalize, k] }), class: "form-text-field", :name => "user[role]", id: "user_role" %>
        </div>

        <div><%= form.password_field :password, "New Password", required: true %></div>

        <div><%= form.password_field :password_confirmation, "Confirm New Password", required: true %></div>
      </div>

      <button type="submit" class="btn-primary mt-4">
        Add user
      </button>

      <%= link_to "Cancel", :back, class: "btn-secondary" %>
    <% end %>
  </div>
</section>
